#errorMassege {
    color: red;
}

#getDaysBtn {
    font-size: 15px;
    background-color: greenyellow;
    border-radius: 10%;
    margin-left: 10px;
    height: 25px;
}

h1 {
    color: rgb(46, 73, 6);
    font-size: x-large;
}

#headerwrapper,
#inputwrapper,
#errorwrapper {
    display: flex;
    justify-content: center;

}